# Python-specific files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Output files from scanning tools
wifi_scan.*
*.csv
nmap_scan_output.*

# System-specific files
.DS_Store
Thumbs.db


